// 左侧导航背景栏颜色
$menu-background:slateblue;
$menu-color:white;

// 登录页背景
$login-bg:url("../assets/images/wallhaven-g75r7d.jpg");

/* :export {
    menuTextColor:$menu-color;
} */

// css变量
:root{
    --text:#FFFFFF;
}

// flex函数
@mixin flex($row:flex-start, $col:stretch, $multiCol:stretch) {
    display: flex;
    justify-content:$row;
    align-items: $col;
    align-content:$multiCol
}

@mixin ellipsis(){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin line-clamp-3(){
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

@mixin line-clamp-3($num){
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
    overflow: hidden;
}