/* body {
  margin: 0;
  background-color: #f5f5f5;
} */
/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fade-slide-enter-from {
  -webkit-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 0;
}

.fade-slide-leave-to {
  -webkit-transform: translateX(30px);
      -ms-transform: translateX(30px);
          transform: translateX(30px);
  opacity: 0;
}